<div id="<%= dom_id record %>">
  <p>
    <strong>Date:</strong>
    <%= record.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= record.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= record.category %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= record.memo %>
  </p>

</div>
